<p>
  creacion-persona works!
</p>
	<div>
		<form>
			<table>
				<tr><td>Tipo de documento:</td>
					<td><select><option>{{tipo}}</option>
						        <option>{{tipo}}</option></select>
					</td>
				</tr><tr><td>Numero identificación:</td>
						<td><input type="text" name="name" value={{cedula}}></td>
					</tr>
					<tr><td>Nombre:</td>
						<td><input type="text" name="name" value={{nombre}}></td>
					</tr>
				<tr><td>Apellido:</td>
						<td><input type="text" name="apellido" value={{apellido}}></td>
					</tr>
				<tr><td>Id:</td>
						<td><input type="text" name="apellido" value={{id}}></td>
				

			</table>
		</form>

	</div>